* {
    padding: 0;
    margin: 0;
}

nav {
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(177, 172, 172);
}

/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.container {
    display: flex;
    height: 100Vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    max-height: 300px;
    padding: 40px;
    overflow-y: auto;
}

form div {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}


label, button {
    font-weight: bold;
}

button {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 2px;
    padding: 3px;
}

input {
    border-radius: 4px;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 1;
}

.next-button button {
    background-color: green;
    padding: 10px 60px;
    margin-top: 10px;
    width: 100%;
}

.next-button {
    position: sticky;
    bottom: 0px;
}

.register-button button {
    background-color: rgb(0, 193, 252);
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px 15px;
    border-radius: 6px;
}

.signin-button button {
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 2px;
    color: #FFF;
    padding: 10px 50px;
    border-radius: 6px;
    background-color: rgb(20, 184, 212);
}