* {
    padding: 0;
    margin: 0;
}

nav {
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(177, 172, 172);
}

.search-bar{
    width: 500px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #070707;
    border-radius: 8px;
}

.logo{
    width: 80px;
    cursor: pointer;
}

.logo img{
    width: 100%;
    object-fit: contain;
}

.search-bar input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    padding: 0 10px;
}

.search-bar img{
    cursor: pointer;
    width: 90px;
}

.account-specific {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex-direction: row;

}

.search-bar input:focus {
    outline: none;
    border: none;
}   

.heading {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}

.category {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
}

.category img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.category-name {
    padding: 5px 0px;
    font-weight: bold;
    font-size: 20px;
}

.products {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}

.product {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
}

.product img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.product-price {
    padding: 5px 0px;
    font-weight: bold;
    font-size: 20px;
}

.product-name {
    padding: 5px 0px;
    font-weight: bold;
    font-size: 20px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
